#local-cugrader-panes {
    min-height: 600px;
}

#local-cugrader-resize {
    min-height: 200px;
    width: 5px;
    background-color: gray;
    display: inline-block;
    position: absolute;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#local-cugrader-resize:hover, #local-cugrader-resize.yui3-dd-dragging {
    background-color: #cc9933;
    border: 1px solid #e7e7e7;
    cursor: ew-resize;
}

#local-cugrader-gradepane legend { margin-bottom: 0px; }

#local-cugrader-gradepane .mform .fitem { margin-bottom: 0px; }

#local-cugrader-viewpane .content {
    margin-right: 0.75em;
    overflow: auto;
}

#local-cugrader #local-cugrader-viewpane .content {
	padding: 0px 10px;
    text-align: left;
}

#local-cugrader-buttonnav .singlebutton {
    padding-left: 3px;
    display: inline-block;
}

#local-cugrader-navigation {
    padding-bottom: 0.5em;
    padding-top: 0.25em;
    margin-bottom: 0px;
    background-color: #f8f8f8;
}

#page-local-cugrader-view #dates.generalbox {
    font-size: .75em;
}

#local-cugrader-mobilenotsupportedmsg {
    text-align: center;
}

#local-cugrader-navigation .yui3-u-1-3, #local-cugrader-navigation .yui3-u-2-3 {
    vertical-align: middle;
}

#local-cugrader-navigation .singleselect, .local_cugrader_navwidget, #local-cugrader-activitynav, #local-cugrader-usernav {
    display: inline-block;
}

#local-cugrader #local-cugrader-menunav .content {
    text-align: center;
}

.local_cugrader_navwidget img{
    vertical-align: middle;
}

#local-cugrader .content {
    text-align: center;
}

#local-cugrader-gradepane .moodleSkin td.mceToolbar table tr td {
    display:block;
    float:left;
}

.local_cugrader_commentloop textarea {
    width: 100%;
}

#local-cugrader-gradepane  table.mceLayout {
    width: 100% !important;
}

#local-cugrader-gradepane .mceEditor iframe {
    width: 100% !important;
    max-width: 100% !important;
}

#local-cugrader-gradepane { background-color: #f8f8f8; }

#local-cugrader-gradepane .content {
    text-align: left;
}

#local-cugrader-gradepane #fitem_id_submitbutton { background-color: transparent; }

#local-cugrader-gradepane fieldset.fieldset, #local-cugrader-viewpane fieldset.fieldset {
    padding: 0.5em;
    margin-right: 0.5em;
}

#local-cugrader-gradepane div.status.s0 {
    padding: 0px;
    background-color: #FFFACD;
}

#local-cugrader-gradepane .fitem .felement {
    width: 100%;
    margin: 0px;
}

#local-cugrader-gradepane .fitemtitle {
    float: none;
}

#local-cugrader .dontshow {
    visibility: hidden;
}

.local_cugrader_commentloop_comments {
    max-height: 300px;
    overflow-y: auto;
    word-wrap: break-word;
}

.local_cugrader_commentloop {
    margin-top: 2px;
}

.local_cugrader_comment_commenter_pic, .local_cugrader_comment_fullnametime, .local_cugrader_comment_delete {
    display: inline-block;
    vertical-align: top;
}

.local_cugrader_comment_fullnametime {
    font-size: 0.8em;
    padding-left: 1em;
}

.local_cugrader_comment_delete {
    float: right;
}

.local_cugrader_comment_body {
    padding: .5em .5em .5em 0em;
    font-size: 0.8em;
}

.local_cugrader_comment {
    clear: both;
}

.local_cugrader_commentloop #fitem_id_comment, .local_cugrader_commentloop .mform fieldset div {
    margin: 0px;
}

#local-cugrader-gradepane .local_cugrader_simplegrading .mform .fitem fieldset.felement, .local_cugrader_commentloop .mform .fitem fieldset.felement {
    padding-left: 0px;
}

#local-cugrader-gradepane .mform .fitemtitle {
    text-align: left;
}

#local-cugrader-gradepane .mform .felement.ffilemanager {
    margin-top: 0.5em;
}

.pagelayout-embedded .local_cugrader_commentloop, .pagelayout-embedded .local_cugrader_commentloop .mform .fitem .felement {
    margin: 0.5em;
}

.pagelayout-embedded #local-cugrader .local_cugrader_commentloop {
    margin-left: 0;
    margin-right: 0;
}

.local_cugrader_commentloop .mform fieldset div.fdescription.required, .local_cugrader_commentloop .mform fieldset div.fitem.required label {
    display: none;
}

.local_cugrader_hidden {
    display: none !important;
}

#local-cugrader-assign23-ctrl-con .control {
    display: inline;
}

#local-cugrader-assign23-ctrl-filename {
    padding-right: .2em;
}

#local-cugrader-gradepane-panel .gradingform_rubric .criterion .remark textarea {
    min-width: 100px;
}

#local-cugrader-gradepane-panel .gradingform_rubric {
    max-width: 100%;
    overflow: auto;
    min-height: 0%;
}

#local-cugrader-viewpane .local_cugrader-hsuforum-showposts {
    margin-bottom: .5em;
}